@{
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
   

  <div class="container">

      <div class="row" style="margin-top:40px;">
          <div class="col-md-12">

              <div>
                  <img src="~/Images/error.gif" />
              </div>



              <h4>@ViewBag.ERROR</h4>

          </div>

      </div>

  </div>
  



</body>
</html>
