@{
    ViewBag.Title = "Home Page";
}
<style>


    

    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        margin-top:50px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #330066;
            border-color: #ffff00;
            border: 10px;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #800080;
            }

        .form .register-form {
            display: none;
        }

    body {
        background: #ffffff; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, #ffffff, #ffffff);
        background: -moz-linear-gradient(right, #ffffff, #ffffff);
        background: -o-linear-gradient(right, #ffffff, #ffffff);
        background: linear-gradient(to left, #ffffff, #ffffff);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

<div class="container">
    <div class="login-page">
        <div class="form">

            


            <h1 style="color: #330066;">MERIT INN</h1>
           
            <img src="~/Images/MeritInnLogo.png" style="height:250px;width:250px;margin-bottom:10px;" />

            <form action="../Home/Login" class="login-form" method="post">
                <input type="text" name="username" value="@ViewBag.UserName" placeholder="Email" required />
                <input type="password" name="password" placeholder="Password" required />
                <p class="danger" style="color:red;"> @ViewBag.IncorrectPW </p>
<p class="danger" style="color:red;"> @ViewBag.UserNF </p>
                <button type="submit">Login</button>
            </form>
        </div>
        
    </div>
</div>